<div id="product" class="page-layout carded fullwidth" fusePerfectScrollbar>

    <!-- TOP BACKGROUND -->
    <div class="top-bg mat-accent-bg"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header white-fg" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button class="mr-0 mr-sm-16" mat-icon-button [routerLink]="'/clientes'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start"
                     *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{product.name}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        New Product
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Detalhes do Cliente</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button
                    class="save-product-button mat-white-bg mt-16 mt-sm-0"
                    [disabled]="productForm.invalid"
                    *ngIf="pageType ==='new'" (click)="addProduct()">
                <span>ADD</span>
            </button>

            <button mat-raised-button
                    class="save-product-button mat-white-bg mt-16 mt-sm-0"
                    [disabled]="clienteForm.invalid || clienteForm.pristine"
                    (click)="salvar()">
                <span>Salvar</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card mat-white-bg">

            <!-- CONTENT -->
            <div class="content">

                <form name="productForm" [formGroup]="clienteForm" class="product w-100-p" fxLayout="column" fxFlex>

                    <mat-tab-group>

                        <mat-tab label="Informações Básicas">
                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-form-field class="w-100-p">
                                    <input matInput
                                           name="nome"
                                           formControlName="nome"
                                           placeholder="Nome"
                                           required>
                                </mat-form-field>

                                <mat-form-field class="w-100-p">
                                    <input matInput
                                           name="email"
                                           formControlName="email"
                                           placeholder="E-mail">
                                </mat-form-field>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
</div>
